node_modules/
# node_modules
# Keep environment variables out of version control
.env
music/*
prisma/*
dist
cache/*
libs/*
src/cache/*
shaii.json
config.shaii.json
!prisma/migrations
!prisma/schema.prisma