node_modules/
# node_modules
# Keep environment variables out of version control
.yarn
.env
music/*
prisma/*
dist
cache/*
libs/*
src/cache/*
src/assets/goodWords.json
src/assets/badWords.json
naoko.json
config.naoko.json
