node_modules/
# node_modules
# Keep environment variables out of version control
.env
music/*
prisma/*
dist
cache/*
libs/*
src/cache/*
badWords.json
sakuria.json
config.sakuria.json
!prisma/migrations
!prisma/schema.prisma